%h1 New Task!

= form_for @task do |f|
  - if notice or alert
    .alert.alert-error
      = @task.errors.full_messages.join(' ')
  = f.text_field :title
  = f.text_field :due_date
  = f.select :category_ids, Category.all.collect { |c| [c.name, c.id]}, {}, {multiple: true}
  = f.submit "Add To My Todo!"


